@font-face {
  font-family: 'Spotify';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/spotify-regular.ttf');
}

@font-face {
  font-family: 'Spotify';
  font-weight: bold;
  src: url('./assets/fonts/spotify-bold.ttf');
}

@font-face {
  font-family: 'Spotify';
  font-weight: lighter;
  src: url('./assets/fonts/spotify-light.ttf');
}
